<nav id="menu" class="nav-main" role="navigation">
    <ul class="nav nav-main">
      <li class="nav-active">
        <a href="/home">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </li>
    
      <li class="nav-parent">
        <a href="/addmed">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          <span>Add_medicine</span>
        </a>
       
      </li>
      
     
     <!-- <li class="nav-parent">
        <a href="/search-medicine">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          <span>Search medicine</span>
        </a>-->
       
      </li>
      <li class="nav-parent">
        <a href="/delete-medicine">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          <span> delete_medicine</span>
        </a>
       
      </li>
     
    </ul>
  </nav>
